$main_color: #162745;
$dark_main_color: #162945;
$background_color: #f9f9f9;
$grey_color: #647083;
$ligth_grey_color: #B1B8C1;
$white_color: #ffffff;
$green_color: #73C86B;
$light_green_color: #EBF9EF;
$link_color: #1181FB;
