$main_font: OpenSans, Helvetica, sans-serif;
$main_font_semibold: OpenSansSemiBold, Helvetica, sans-serif;
$main_font_ligth: OpenSansLight, Helvetica, sans-serif;
$title_font:  Montserrat, sans-serif;
$title_font_bold:  Montserrat_bold, sans-serif;
$console_font: PTMono, monospace;
