@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: Montserrat_Bold;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: OpenSans;
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: OpenSansLight;
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {
    font-family: PTMono;
    src: url("../fonts/PT_Mono/PT_Mono.ttf");
}
